<main class="flex-grow-1 p-3 m-auto my-2">
  <h1 class="text-center">Apple Store Mendoza</h1>
  {{#if details}}
    <p>{{details}}</p>
  {{else}}
    <p>
      ¡Bienvenido a nuestro exclusivo mundo Apple, donde la innovación y la
      elegancia se encuentran en cada clic! En nuestro e-commerce, nos
      enorgullece ofrecerte la más amplia gama de productos Apple, diseñados
      para elevar tu experiencia tecnológica a nuevos horizontes. Desde los
      icónicos iPhones hasta los potentes MacBooks, pasando por los versátiles
      iPads y accesorios de alta calidad, cada artículo en nuestro catálogo ha
      sido cuidadosamente seleccionado para satisfacer tus necesidades y superar
      tus expectativas.
    </p>
    <p>
      En nuestro compromiso de brindarte lo mejor, nos esforzamos por
      mantenernos a la vanguardia de las últimas tendencias tecnológicas,
      asegurándonos de que siempre encuentres lo último y lo mejor en nuestro
      sitio. Además, nuestro equipo de expertos está aquí para guiarte en cada
      paso del camino, proporcionándote asesoramiento personalizado y atención
      al cliente excepcional.
    </p>
    <p>
      Al elegirnos, te sumerges en un universo de calidad, confianza y estilo.
      Explora nuestra tienda con la seguridad de saber que estás adquiriendo
      productos Apple auténticos y disfruta de la comodidad de comprar desde la
      comodidad de tu hogar. ¡Bienvenido a una experiencia de compra única,
      donde la perfección se encuentra en cada detalle!
    </p>
  {{/if}}
</main>