<main class="flex-grow-1 p-3 m-auto my-2">
  <h2 class="text-center">Iniciar sesi칩n</h2>
  <form style="width: 320px;">
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Correo electr칩nico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 text-center">
      <label for="foto" class="form-label mb-0">Contrase침a</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <button id="login" type="button" class="w-100 btn btn-danger">Iniciar sesi칩n</button>

  </form>
</main>
<script src="/scripts/login.js"></script>