<main class="flex-grow-1 p-3 m-auto my-2">
  <h2 class="text-center">Crea un usuario</h2>
  <form style="width: 320px;">
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 text-center">
      <label for="password" class="form-label mb-0">Contraseña</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="mb-3 text-center">
      <label for="foto" class="form-label mb-0">Foto</label>
      <input type="text" id="photo" class="form-control" />
    </div>

    <button
      type="button"
      id="register"
      class="w-100 btn btn-danger mt-3"
    >Crear</button>
    <button
      id="google"
      type="button"
      class="w-100 btn btn-danger mt-3"
    >Registrate con Google</button>

    <button
      id="github"
      type="button"
      class="w-100 btn btn-danger mt-3"
    >Registrate con Github</button>

  </form>
</main>

<script src="/scripts/register.js"></script>
<script src="/scripts/third.js"></script>